html,
body,
#root {
	height: 100%;
}

body {
	background-color: $color-background;
}

// parent container for settings and poster containers
// small/medium screens: .container-settings and .container-poster are below each other
// large screens: .container-settings is on the left, .container-poster on the right (using grid)
main {
	width: 100%;

	@include large-screen {
		height: 100%;
		display: grid;
		grid-template-columns: 450px auto;
		grid-column-gap: $margin-large;
		justify-content: center; // grid alignment
		align-items: center; // grid column alignment
	}
}

// container with poster configuration options
.menu-container {
	@include small-screen {
		margin-bottom: $margin-small;
	}

	@include medium-screen {
		margin-bottom: $margin-medium;
	}
}

// container with poster preview
.poster-container {
	position: relative;
}

main,
.menu-page {
	@include small-screen {
		padding: $margin-small;
	}

	@include medium-screen {
		padding: $margin-medium;
	}

	@include large-screen {
		padding: $margin-large;
	}
}

.menu-page {
	display: flex;
	flex-direction: column;
	align-items: flex-start; // align items to the left
	background-color: $color-background-settings;
	min-height: 600px;
	max-height: 100%;
	overflow: scroll;
}

.error-wrapper {
	display: flex;
	align-items: center;

	img {
		margin-right: 5px;
	}
}

.image-selector-container {
	display: flex;
	align-items: center;
}