html,
body,
#root {
	height: 100%;
}

body {
	background: $color-background;
}

// parent container for settings and poster containers
// small/medium screens: .container-settings and .container-poster are below each other
// large screens: .container-settings is on the left, .container-poster on the right (using grid)
main {
	width: 100%;

	@include large-screen {
		display: grid;
		height: 100%;
		grid-template-columns: 440px auto;
		grid-column-gap: $margin-large;
		justify-content: center; // grid alignment
		align-items: center; // grid column alignment
	}
}

// container with poster configuration options
.menu-container {
	@include small-screen {
		margin-bottom: $margin-small;
	}

	@include medium-screen {
		margin-bottom: $margin-medium;
	}
}

// container with poster preview
.poster-container {
	position: relative;
}

main,
.menu-page {
	@include small-screen {
		padding: $margin-small;
	}

	@include medium-screen {
		padding: $margin-medium;
	}

	@include large-screen {
		padding: $margin-large;
	}
}

.menu-page {
	display: flex;
	height: 650px;
	max-height: 100%;
	overflow-y: auto;
	flex-direction: column;
	align-items: flex-start; // align items to the left
	background: $color-background-settings;
}

.info-container {
	@include medium-or-large-screen {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	margin-top: calc(#{$margin-small} / 2);
}

.zoom-info {
	display: inline-flex;
	align-items: center;
}

.credits-container > * {
	@include small-screen {
		display: block;
	}

	@include medium-or-large-screen {
		display: flex;
		align-items: center;
	}

	img {
		margin-right: 5px;
	}
}

.error-wrapper {
	display: flex;
	align-items: center;

	img {
		margin-right: 5px;
	}
}

.image-selector-container {
	display: flex;
	align-items: center;

	> p {
		overflow: hidden;
	}
}
