body,
button,
input,
textarea {
	font-family: $font;
	font-size: $font-size;
	font-weight: $font-normal;
	line-height: 1.5;
	color: $color-text;
}

// buttons
button,
#image-selector-label {
	font-weight: $font-bold;
}

.input-numeric input {
	text-align: center;
}

legend {
	font-size: 80%;
	color: $color-input-border;
	text-transform: uppercase;
}

.error-wrapper {
	color: $color-red;
}

.unit {
	color: $color-input-border;
}

// hidden div for instantly applying downloaded fonts (-> available in canvas)
.preload-font {
	font-family: "Maven Pro", sans-serif;
	font-weight: 900;
	@include hide-element;
}

.poster-container {
	line-height: 0;
}

.info-container {
	@include small-screen {
		text-align: center;
	}
}

.zoom-info {
	color: $color-input-border;
}

.credits-container {
	font-size: 70%;
	color: $color-input;
}

::placeholder {
	color: $color-text;
}

:focus::placeholder {
	line-height: 0; // to disable scrolling when there is a lot of placeholder text
	visibility: hidden;
}

::selection {
	background: $color-selection;
}
