body,
button,
input,
textarea {
	color: $color-text;
	font-family: $font;
	font-size: $font-size;
	font-weight: $font-normal;
	line-height: 1.5;
}

// buttons
button,
#image-selector-label {
	font-weight: $font-bold;
}

.number-input button {
	font-weight: $font-normal;
}

legend {
	color: $color-input-border;
	font-size: 80%;
	text-transform: uppercase;
}

.error-wrapper {
	color: $color-red;
}

.unit {
	color: $color-input-border;
}

::selection {
	background: $color-selection;
}