// buttons
button,
#image-selector-label {
	height: $height-button;
	display: inline-flex;
	align-items: center;
	padding: 0 20px;
	border: 0;
	border-radius: $border-radius;
	background: $color-red;
	cursor: pointer;
	line-height: 0;

	&:hover {
		background: lighten($color-red, 5%);
	}

	&:disabled {
		background: $color-input;
		cursor: auto;
	}
}

// hide <input type="file"> (label will be styled instead)
#image-selector {
	@include hide-element;
}

#image-selector-label {
	margin-right: 20px;
	white-space: nowrap;
}

.button-back,
.button-next {
	width: 60px;
	mask-size: cover;
}

.button-back {
	padding: 0 0 0 25px;
	mask-image: url("../images/buttons/button-back.svg");
}

.button-next {
	padding: 0 25px 0 0;
	mask-image: url("../images/buttons/button-next.svg");

	img {
		margin: 0 0 0 auto;
	}
}