#font-picker {
	box-shadow: none;
	width: 220px;

	.dropdown-button {
		background: $color-input-border;

		&:hover,
		&.expanded,
		&:focus {
			background: $color-input-border-focus;
		}
	}

	ul {
		background: $color-input;
		box-shadow: none;

		li a:hover,
		li a:focus {
			background: lighten($color-input, 10%);
		}

		li a.active-font {
			background: lighten($color-input, 15%);
		}
	}
}