#font-picker {
	box-shadow: none;
	width: 220px;

	.dropdown-button {
		background: $color-input-border;
		border-radius: $border-radius-small;

		&:hover,
		&.expanded,
		&:focus {
			background: $color-input-border-focus;
		}
	}

	.dropdown-icon::before {
		border-top-color: $color-text;
	}

	ul {
		background: $color-input;
		box-shadow: none;
		border-radius: $border-radius-small;
	}

	li button {
		border-radius: 0;

		&:hover,
		&:focus {
			background: lighten($color-input, 10%);
		}

		&.active-font {
			background: lighten($color-input, 15%);
		}
	}
}