input[type="number"],
textarea {
	background: $color-input;
	border: 1px solid #7D7D7D;

	&:focus {
		background: $color-input-focus;
		border-color: $color-input-border-focus;
	}
}

textarea {
	height: 325px;
	width: 100%;
	padding: 5px 10px;
	resize: none;
	margin-top: 10px;
}

:focus {
	outline: 0;
}

.unit {
	margin-left: 5px;
}