// number input fields
input[type="number"] {
	height: $height-input;
	width: 70px;
	padding: 0 10px;

	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	appearance: textfield;

	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
	}
}

// number input component (with plus/minus buttons)
.number-input {
	display: inline-flex;
	align-items: center;

	input {
		width: 60px;
		text-align: center;
		margin: 0 3px;
	}

	button {
		justify-content: center;
		height: $height-input;
		width: $height-input;
		padding: 0;
		border: 0;
		background: $color-input-border;
		text-align: center;

		&:hover {
			background: lighten($color-input-border, 10%);
		}
	}
}