input[type="number"],
textarea {
	background: $color-input;
	border: 1px solid $color-input-border;
	border-radius: 5px;

	&:focus {
		background: $color-input-focus;
		border-color: $color-input-border-focus;
	}
}

textarea {
	height: 325px;
	width: 100%;
	padding: 5px 10px 50px;
	resize: none;
	margin-top: 10px;
	-webkit-overflow-scrolling: touch;
}

:focus {
	outline: 0;
}

.unit {
	margin-left: 5px;
}