input,
textarea {
	background-color: $color-input;
	border: 1px solid #7D7D7D;
}

input {
	height: 35px;
	width: 80px;
	margin-left: 10px;
	padding: 0 10px;

	&[type="number"] {
		-webkit-appearance: textfield;
		-moz-appearance: textfield;
		appearance: textfield;
	}

	&[type=number]::-webkit-inner-spin-button,
	&[type=number]::-webkit-outer-spin-button {
		-webkit-appearance: none;
	}
}

textarea {
	height: 300px;
	width: 100%;
	padding: 5px 10px;
	resize: none;
}

:focus {
	outline: 0;
}

input:focus {
	background-color: lighten($color-input, 8%);
}