label {
	display: block;

	&:not(#image-selector-label) {
		margin-bottom: 10px;
	}
}

.label-left {
	display: inline-block;
	margin-right: $margin-label;
}

.fieldset-background,
.fieldset-lyrics {
	.label-left {
		white-space: nowrap;
	}

	.settings-background,
	.settings-separator {
		display: flex;

		label {
			margin-right: 20px;
		}
	}

	.settings-background label {
		display: inline-block;
	}

	.settings-separator label {
		display: block;
	}
}

.fieldset-image-style {
	label {
		display: flex;
	}

	.unit {
		width: 50px;
		text-align: right;
	}
}


// label-left widths

.fieldset-image-options .label-left {
	width: 55px;
}

.fieldset-background .label-left {
	width: 130px;
}

.fieldset-image-style .label-left,
.fieldset-text-style .label-left {
	width: 85px;
}
