.error-wrapper {
	display: flex;
	align-items: flex-start;

	img {
		margin: 2px 5px 0 0;
	}

	p {
		flex: 1;
	}
}

.image-selector-container .error-wrapper {
	align-items: center;
}

.fieldset-image-options .error-wrapper {
	margin-top: 15px;
}
