input,
textarea {
	background-color: $color-input;

	// text/number input fields
	&[type="text"]:not(textarea),
	&[type="number"] {
		height: 35px;
		width: 80px;
		margin-left: 10px;
		padding: 0 10px;
	}

	// buttons
	&[type="button"],
	&[type="submit"] {
		height: 45px;
		padding: 0 20px;
		border: 0;
		border-radius: 25px;
		background-color: $color-red;
		cursor: pointer;

		&:hover {
			background-color: lighten($color-red, 5%);
		}
	}
}

textarea {
	height: 200px;
	width: 100%;
	padding: 5px 10px;
	resize: none;
}

input[type="text"],
input[type="number"],
textarea {
	border: 1px solid #7D7D7D;
}

label {
	display: block;
}

form li,
form li label {
	display: inline;
}

form li + li {
	margin-left: 20px;
}

:focus {
	background-color: lighten($color-input, 8%);
	outline: 0;
}

// poster download button, placed on top of canvas
#download-button {
	position: absolute;

	@include small-screen {
		bottom: $margin-small;
		left: $margin-small;
	}

	@include medium-screen {
		bottom: $margin-medium;
		left: $margin-medium;
	}

	@include large-screen {
		bottom: $margin-large;
		right: $margin-large;
	}
}