// media queries

@mixin small-screen {
	@media (max-width: 700px) {
		@content;
	}
}

@mixin medium-screen {
	@media (min-width: 701px) and (max-width: 1000px) {
		@content;
	}
}

@mixin large-screen {
	@media (min-width: 1001px) {
		@content;
	}
}

@mixin medium-or-large-screen {
	@media (min-width: 701px) {
		@content;
	}
}


// other mixins

@mixin hide-element {
	position: absolute;
	z-index: -1;
	display: block;
	width: 0.1px;
	height: 0.1px;
	overflow: hidden;
	opacity: 0;
}
