// colors
$color-red:                 #D14949;
$color-text:                #F8F8F8;
$color-background:          #1B1B1B;
$color-background-settings: #323232;
$color-input:               #585858;
$color-input-border:        #7D7D7D;

// fonts
$font:          "Barlow", sans-serif;
$font-size:     16px;
$font-normal:   400;
$font-bold:     700;

// spacing
$margin-small:  20px;
$margin-medium: 30px;
$margin-large:  40px;

// input
$border-radius: 5px;